body
{
    background: url('https://c.tenor.com/k3BNIDqMr6QAAAAM/hacking-hacker.gif') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

/*
https://c.tenor.com/k3BNIDqMr6QAAAAM/hacking-hacker.gif


https://i.pinimg.com/originals/ef/26/2b/ef262b0b03479cdf5109cf719100f186.gif
*/

span {color:#84f308;}
